form.search
{
    text-align: right;
    float: right;
    display: inline-block;
    margin-left: auto;

    &.has-extra-search:not(.has-text-search)
    {
        clear: left;
    }

    .search-field
    {
        display: inline-block;
        margin-left: steps(2);
    }

    .text-search
    {

        .search-field[data-name="search"]
        {
            position: relative;

            input[type="search"]
            {
                width: steps(33)+4;
                height: steps(3)+4;
                padding-left: steps(3)+4;
                border-color: $color-border-light;

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration
                {
                    display: none;
                }

                &::placeholder{
                    font-size: 14px;
                    line-height: 18px;
                    color: $color-labels;
                    font-weight: normal;
                }

            }

            .button
            {
                position: absolute;
                left: 0;
                top: 0;
                background: transparent;
                color: $color-highlight-normal;
                padding: 0;
                height: 40px;
                width: 40px;

                .mt-icon {
                    font-size: 20px;
                    line-height: 2;
                    color: $color-border-lighter;
                }

                &:hover
                {
                    color: $color-text-light;
                }
            }
        }


    }

    .extras
    {
        @include clear-inside;

        background-color: $color-background-lighter;
        border: 1px solid $color-border-light;
        margin: -1px 0 (steps(-1) - 1px) 0;
        padding: steps(2);

        input:not([type="checkbox"]):not([type="radio"]),
        select
        {
            width: steps(14);
        }

        .button
        {
            margin-left: steps(2);
        }

    }

}
